.layout-container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

// Layout
.content-container {
    padding: 0 2rem;
    margin-top: $unit-16;
    width: 100%;

    $grid-spacing: ($layout-spacing / ($layout-spacing * 0 + 1)) *
        $html-font-size;

    &.grid-xl {
        max-width: $grid-spacing * 2 + $size-xl;
    }

    &.grid-lg {
        max-width: $grid-spacing * 2 + $size-lg;
    }

    &.grid-md {
        max-width: $grid-spacing * 2 + $size-md;
    }

    &.grid-sm {
        max-width: $grid-spacing * 2 + $size-sm;
    }

    &.grid-xs {
        max-width: $grid-spacing * 2 + $size-xs;
    }
}

// Responsive breakpoint system
.show-xs,
.show-sm,
.show-md,
.show-lg,
.show-xl {
    display: none !important;
}

// Responsive grid system
.columns {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.column {
    width: 100%;
    max-width: 60rem;
    padding-left: $layout-spacing;
    padding-right: $layout-spacing;
}

$off-canvas-breakpoint: $size-md !default;

@media (min-width: $off-canvas-breakpoint) {
    .columns {
        margin-left: 10rem;
    }
}

@media (max-width: $off-canvas-breakpoint) {
    .content-container {
        padding: 2rem 1rem;
    }
    .column {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
