// Off canvas menus
$off-canvas-breakpoint: $size-md !default;

.off-canvas {
    display: flex;
    flex-flow: nowrap;
    position: fixed;
    top: $unit-16;
    z-index: $zindex-2;

    .off-canvas-toggle {
        position: fixed;
        transition: transform 150ms;
        z-index: $zindex-0;
        @if $rtl == true {
            right: 0;
        } @else {
            left: 0;
        }

        &:hover {
            transform: translateX($layout-spacing);
            background: $primary-color;
        }
    }

    .off-canvas-sidebar {
        background: $bg-color;
        height: 100%;
        min-width: 10rem;
        position: fixed;
        transition: transform 150ms;
        z-index: $zindex-2;
        @if $rtl == true {
            right: 0;
            transform: translateX(100%);
        } @else {
            left: 0;
            transform: translateX(-10rem + $layout-spacing);
        }
    }

    .off-canvas-content {
        flex: 1 1 auto;
        height: 100%;
        padding: $layout-spacing $layout-spacing $layout-spacing 4rem;
    }

    .off-canvas-overlay {
        background: rgba($dark-color, 0.1);
        filter: blur(1rem);
        -webkit-filter: blur(1rem);
        border-color: transparent;
        border-radius: 0;
        display: none;
        height: 100%;
        left: 0;
        position: fixed;
        right: 0;
        width: 100%;
    }

    .off-canvas-sidebar {
        &:target,
        &.active {
            transform: translateX(0);
        }

        &:target ~ .off-canvas-overlay,
        &.active ~ .off-canvas-overlay {
            display: block;
            z-index: $zindex-1;
        }
    }
}

// Responsive layout
@media (min-width: $off-canvas-breakpoint) {
    .off-canvas {
        &.off-canvas-sidebar-show {
            .off-canvas-toggle {
                display: none;
            }

            .off-canvas-sidebar {
                flex: 0 0 auto;
                position: fixed;
                transform: none;
            }

            .off-canvas-overlay {
                display: none !important;
            }
        }
    }
}
